.container {
  perspective: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  width: 60px;
  height: 60px;

  animation-name: spinner;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  transform-style: preserve-3d;
}

@keyframes spinner {
  from {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -moz-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
}

.wrapper {
  min-width: 130px;
}

.loading {
  font-size: 25px;
  font-family: serif;

  &:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    animation: ellipsis steps(4, end) 1000ms infinite;
    content: '\2026'; /* ascii code for the ellipsis character */
    width: 0;
  }
}
@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;
  }
}
