.container {
  input {
    display: block;
    width: 100%;
    padding: $space-quarter;
  }

  textarea {
    width: 100%;
    overflow: auto;
    resize: vertical;
  }
}

.message {
  margin: $space-quarter 0;
  font-size: 16px;
  color: $error;
  font-weight: bold;
}

.labelText {
  display: block;
  margin: $space-quarter 0;
  font-weight: bold;
}
