.gallery {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: $space-single;
  margin-bottom: $space-double;
  margin-top: $space-single;

  @include mobile-big {
    grid-template-columns: 1fr;
  }

  [data-reach-tab-panel] {
    position: sticky;
    top: $space-double + $space-single;

    @include mobile-big {
      position: static;
    }
  }
}

.tablist {
  background-color: $gray;
  z-index: 1;
  position: sticky;
  top: 0;

  @include mobile-big {
    position: static;
  }

  & [data-selected] {
    font-weight: bold;
    color: $accent;
  }

  button[data-reach-tab] {
    font-size: 20px;
    display: flex;
    align-items: center;
    padding: $space-quarter $space-single;
    margin-right: $space-quarter;

    svg {
      margin-left: $space-quarter;
    }

    &:hover {
      color: $accent;
    }
  }
}

.scroll {
  display: none;

  @include mobile-big {
    display: initial;
    position: sticky;
    margin: $space-single auto 0;
    bottom: $space-quarter;
    background-color: $white;
  }
}
