$black: #051603;
$gray: #e7e7e9;
$gray-dark: rgb(145, 145, 145);
$accent: rgb(228, 102, 43);
$white: rgb(240, 239, 234);
$hoover-white: rgb(211, 208, 193);
$white-transparent: rgba(240, 239, 234, 0.85);
$error: #d75454;

/* Web */
$max-width: 950px;
$space-double: 3rem;
$space-single: 1.5rem;
$space-half: 1rem;
$space-quarter: 0.5rem;
$space-container: 2.5%;
$font-base: 16px;
$font-single: 14px;
$font-half: 12px;

$mobile-width: 445px;
$tablet-width: 785px;
$desktop-width: 1024px;

$border-radius: 4px;
