body  {
  background-color: $white;
}

.container {
  display: block;
  margin: 0 auto;
  max-width: $max-width;

  @include max-width {
    padding: {
      left: $space-container;
      right: $space-container;
    }
  }

  * {
    box-sizing: border-box;

    &::after,
    &::before {
      box-sizing: border-box;
    }
  }
}
