.header {
  display: flex;
  align-items: flex-end;
  margin: $space-single 0;
  border-bottom: 1px solid $black;
  padding-bottom: $space-single;

  .image {
    width: 100px;
    height: 100px;
    margin-right: $space-double;
  }

  nav {
    display: flex;
    align-items: flex-end;
    list-style: none;

    li {
      margin: 0;
    }

    li + li {
      margin-left: $space-single;
    }

    a {
      text-decoration: none;
      color: $black;
      font-size: 18px;

      &:hover {
        color: $accent;
        text-decoration: underline;
      }

      &.active {
        font-weight: bold;
        color: $accent;
      }
    }
  }
}
