.text {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  column-gap: $space-single;
  margin: {
    top:  $space-double;
    bottom: $space-big;
  }

  h1 {
    margin-top: 0;
  }

  @include mobile-big {
    grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
    margin: {
      top:  $space-single;
      bottom: $space-double;
    }
  }
}

.image {
  border-radius: $border-radius;

  @include mobile-big {
    margin: {
      top: $space-double;
    }
  }
}

.galleryContainer {
  margin: {
    top: $space-big;
  }


  @include mobile-big {
    margin: {
      top: $space-double;
    }
  }
}


.gallery {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: $space-single;
  margin-bottom: $space-double;
  margin-top: $space-single;

  @include mobile-big {
    grid-template-columns: 1fr;
  }

}

.galleryWrapper {
  max-height: 800px;
  overflow-y: auto;


  @include mobile-big {
    max-height: unset;
    overflow-y: unset;
  }
}


.scroll {
  display: none;

  @include mobile-big {
    display: initial;
    position: sticky;
    margin: $space-single auto 0;
    bottom: $space-quarter;
    background-color: $white;
  }
}
