.footer {
  border-top: 1px solid $black;
  padding-top: 3rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  align-self: end;
  display: grid;
  grid-gap: $space-single;
  grid-template-columns: 1fr minmax(250px, 1.5fr) 340px;

  @include mobile-big {
    grid-template-columns: repeat(auto-fill, minmax(min(250px, 100%), 1fr));
  }

  h2 {
    margin-top: 0;
    font-size: 1.1rem;
  }

  ul,
  li {
    margin-left: 0;
    padding: 0;
    list-style: none;
  }

  a {
    text-decoration: underline;
    &:hover {
      color: $accent;
    }
  }
}
