.blog_title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;

  > span {
    margin-bottom: $space-single;
  }
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: $space-single;
}

.image {
  border-radius: $border-radius;
}

.linkWrapper {
  display: flex;
  justify-content: flex-end;
}

.link {
  display: flex;
  align-items: center;

  > span {
    margin-right: $space-half;
  }


  &:hover {
    > span {
      text-decoration: underline;
    }
  }
}
