.topHeading {
  margin: {
    top: $space-double;
  }

  @include mobile-big {
    margin: {
      top: $space-single;
    }
  }
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: $space-single;

  @include mobile-big {
    grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));

    h2 {
      margin-top: 0;
    }
  }
}

.gallery {
  margin: {
    top: $space-big;
    bottom: $space-double;
  }
}


.video {
  max-height: 300px;
}
