.wrapper {
  max-width: 650px;
}

.link {
  display: flex;
  align-items: center;
  font-size: 18px;
  text-decoration: underline;

  > svg {
    margin-right: $space-half;
  }

  &:hover {
    color: $accent;
    text-decoration: none;
  }
}

.banner {
  max-height: 300px;
  margin-bottom: $space-double;
  margin-top: $space-double;
}

:global(.markdown-image) {
  margin: {
    left: auto;
    right: auto;
    bottom: $space-double;
    top: $space-double;
  }
}
