.link {
  display: flex;
  align-items: center;
  font-size: 18px;

  > svg {
    margin-right: $space-half;
  }

  &:hover {
    color: $accent;
    text-decoration: underline;
  }
}

.image {
  max-height: 300px;
  margin-bottom: $space-double;
  margin-top: $space-double;
}

:global(.markdown-image) {
  margin-bottom: $space-double;
  margin-top: $space-double;
}
